.portfolio {
    text-align: center;
    padding: 2rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .gallery img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  .gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  @media (prefers-color-scheme: dark) {
    .portfolio {
      background-color: #121212;
      color: #f0f0f0;
    }
  
    .gallery img {
      box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    }
  }
  .portfolio-container {
    background-color: navy;
  }